.header {
    padding-bottom: 30px;
    background-color: $lightwhite;
    background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13),transparent),radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);

    &__wrap {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-list {
            display: flex;
        }

        &-item {
            padding: 0 25px;

            &-link {
                position: relative;
                color: $black;
                font-family: $main-ff;
                font-size: 18px;

                &:before {
                    position: absolute;
                    content: '';
                    left: 0;
                    bottom: -3px;
                    width: 0;
                    height: 2px;
                    background-color: $beige;
                    transition: $trs;
                }

                &:hover::before {
                    width: 50%;
                }

                &:after {
                    position: absolute;
                    content: '';
                    right: 0;
                    bottom: -3px;
                    width: 0;
                    height: 2px;
                    background-color: $beige;
                    transition: $trs;
                }

                &:hover::after {
                    width: 50%;
                }
            }
        }
    }

    &__logo {
        margin: 20px 0;
        line-height: 0;

        &-link {
            display: block;
            position: relative;
            overflow: hidden;
        }

        span {
            font-weight: 500;
            font-size: 18px;
        }
    }

    &__hero {
        display: flex;
        flex-direction: column;
        padding: 75px 0 115px;

        &-title {
            margin-bottom: 30px;
            font: $h1-font;
        }

        &-descr {
            margin-bottom: 30px;
            font-size: 25px;
            font-style: italic;
        }
    }
}