.products {
    padding: 30px 0;
    background-color: $lightwhite;

    &__wrap {
        margin: 25px auto 0;
        position: relative;
    }

    &__title {
        margin: 30px 0;
        text-align: center;
        font-family: $second-ff;
        font-size: 20px;
    }

    &__card {
        background-color: $white;
        position: relative;
        width: 100%;
        padding: 30px;
        box-shadow: 0 0 5px rgba(75, 75, 75, .07);
        z-index: 1;

        &-body {
            display: inline-block;
            text-align: left;
            width: 291px;
        }

        &-number {
            margin-top: 15px;
        }

        &-circle {
            border: 1px solid $beige;
            border-radius: 50%;
            display: inline-block;
            line-height: 22px;
            font-size: 12px;
            height: 25px;
            text-align: center;
            width: 25px;
        }

        &-title {
            font-size: 30px;
            font-weight: 400;
            margin: 10px 0;
        }

        &-descr {
            display: inline-block;
            font-size: 15px;
            margin: 10px 0;
        }

        &-btn {
            cursor: pointer;
            font-size: 15px;
            margin: 5px 0 20px;
            position: relative;
            text-align: right;
            text-transform: uppercase;

            span {
                padding: 0 10px;
                font-weight: 500;
            }

            &::after {
                background-color: #b8bddd;
                content: "";
                display: block;
                height: 1px;
                position: absolute;
                top: 12px;
                width: 60%;
            }
        }

        &-media {
            float: right;
            width: 50%;
            height: 100%;
        }
    }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: $white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next, .swiper-button-prev {
    position: absolute !important;
    top: 50% !important;
    width: 30px !important;
    height: 50px !important;
    z-index: 10 !important;
    cursor: pointer !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    color: $gray !important;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: $gray !important;
}    

// .u-clearfix:before,
// .u-clearfix:after {
//   content: " ";
//   display: table;
// }

// .u-clearfix:after {
//   clear: both;
// }

// .u-clearfix {
//   *zoom: 1;
// }

@media(max-width: 1024px) {
    .swiper {
        padding: 0 20px !important;
    }

    .products__card-descr {
        max-width: 250px !important;
    }

    .products__card-btn {
        max-width: 255px;
    }
}

@media(max-width: 768px) {
    .products__card-body {
        width: 170px;
    }

    .products__card-btn {
        max-width: 170px;

        &::after {
            width: 38%;
        }
    }
}