.work {
    padding: 30px 0;
    background: $white;

    &__wrap {
        margin: 0 auto;
        position: relative;
    }

    &__title {
        margin: 30px 0;
        text-align: center;
        font-family: $second-ff;
        font-size: 20px;
    }

    &__gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1rem;
        grid-auto-rows: 400px;
        grid-auto-flow: dense;
        list-style-type: none;
        padding: 0;
        margin: 0 0 20px 0;

        li {
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
                transition: all .3s ease-in-out;
                transform: scale(1.5);
                filter: grayscale(100%);

                &:hover {
                    filter: none;
                    transform: scale(1);
                }
            }
        }

    }
}

@media(max-width: 1024px) {
    .work__block {
        padding: 0 20px;
    }
}

@media(max-width: 768px) {
    .work__gallery {
        grid-gap: 10px;
    }
}