@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap");
.btn {
  font-size: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  height: 55px;
  border-radius: 20px 5px;
  padding: 5px 44px;
  box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.39);
  border: 1px solid #404040;
  color: #000;
  background-color: transparent;
  transition: all 0.3s;
}
.btn:hover {
  background-color: #404040;
  color: #fff;
}

* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font: 400 18px/1.6 "Raleway", Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.9);
  background-color: #fff;
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
  transition: all 0.3s;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  padding-bottom: 30px;
}
.header__wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-list {
  display: flex;
}
.header__nav-item {
  padding: 0 25px;
}
.header__nav-item-link {
  position: relative;
  color: #000;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.header__nav-item-link:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #404040;
  transition: all 0.3s;
}
.header__nav-item-link:hover::before {
  width: 50%;
}
.header__nav-item-link:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #404040;
  transition: all 0.3s;
}
.header__nav-item-link:hover::after {
  width: 50%;
}
.header__nav-item-cart {
  position: relative;
  color: #404040;
  transition: all 0.3s;
}
.header__nav-item-cart svg:hover {
  transform: scale(1.2);
}
.header__logo {
  margin: 20px 0;
  line-height: 0;
}
.header__logo-link {
  display: block;
  position: relative;
  overflow: hidden;
}
.header__hero {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 75px 0 115px;
}
.header__hero-title {
  margin-bottom: 30px;
  font-size: 70px;
  font-weight: 400;
  font-family: "Cinzel", Arial, Helvetica, sans-serif;
}
.header__hero-descr {
  margin-bottom: 30px;
  font-size: 20px;
}
.header__socials {
  position: absolute;
  right: 5%;
  bottom: 35%;
}
.header__socials svg {
  width: 25px;
  display: block;
  margin: 25px 5px;
  transition: all 0.3s;
  color: #404040;
}
.header__socials svg:hover {
  color: #fff;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #c8c1b7 50%, #f4f3f1 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
@media (max-width: 1024px) {
  .header__logo {
    padding: 0 30px;
  }
}
@media (max-width: 768px) {
  .header__hero-title {
    font-size: 50px;
  }
}
.main {
  padding: 30px 0;
  background: #fff;
}
.main__wrap {
  width: 960px;
  margin: 0 auto;
  position: relative;
}
.main__title {
  margin: 30px 0;
  text-align: center;
  font-family: "Cinzel", Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.main__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  grid-auto-rows: 300px;
  grid-auto-flow: dense;
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px 0;
}
.main__list li {
  overflow: hidden;
}
.main__list li figure {
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.main__list li figure img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}
.main__list li figure figcaption {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  display: grid;
  align-content: center;
  text-align: center;
  border: 1px solid #404040;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}
.main__list li figure h1, .main__list li figure p {
  opacity: 0;
  transition: all 0.3s;
}
.main__list li figure h1 {
  margin: 0;
  font-size: 20px;
  transform: translate3d(0, -1rem, 0);
}
.main__list li figure p {
  font-size: 15px;
  transform: translate3d(0, 1rem, 0);
}
.main__list li figure:hover img {
  filter: brightness(30%);
  transform: scale(1);
}
.main__list li figure:hover figcaption {
  transform: scale(1);
}
.main__list li figure:hover h1, .main__list li figure:hover p {
  opacity: 1;
  transform: scale(1);
}

@media (max-width: 768px) {
  .main__wrap {
    max-width: 750px;
  }
}
.products {
  padding: 30px 0;
  background-color: #f4f3f1;
}
.products__wrap {
  margin: 25px auto 0;
  position: relative;
}
.products__title {
  margin: 30px 0;
  text-align: center;
  font-family: "Cinzel", Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.products__card {
  background-color: #fff;
  position: relative;
  width: 100%;
  padding: 30px;
  box-shadow: 0 0 5px rgba(75, 75, 75, 0.07);
  z-index: 1;
}
.products__card-body {
  display: inline-block;
  text-align: left;
  width: 291px;
}
.products__card-number {
  margin-top: 15px;
}
.products__card-circle {
  border: 1px solid #c8c1b7;
  border-radius: 50%;
  display: inline-block;
  line-height: 22px;
  font-size: 12px;
  height: 25px;
  text-align: center;
  width: 25px;
}
.products__card-title {
  font-size: 30px;
  font-weight: 400;
  margin: 10px 0;
}
.products__card-descr {
  display: inline-block;
  font-size: 15px;
  margin: 10px 0;
}
.products__card-btn {
  cursor: pointer;
  font-size: 15px;
  margin: 5px 0 20px;
  position: relative;
  text-align: right;
  text-transform: uppercase;
}
.products__card-btn span {
  padding: 0 10px;
  font-weight: 500;
}
.products__card-btn::after {
  background-color: #b8bddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 12px;
  width: 60%;
}
.products__card-media {
  float: right;
  width: 50%;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next, .swiper-button-prev {
  position: absolute !important;
  top: 50% !important;
  width: 30px !important;
  height: 50px !important;
  z-index: 10 !important;
  cursor: pointer !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: #404040 !important;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #404040 !important;
}

@media (max-width: 1024px) {
  .swiper {
    padding: 0 20px !important;
  }

  .products__card-descr {
    max-width: 250px !important;
  }

  .products__card-btn {
    max-width: 255px;
  }
}
@media (max-width: 768px) {
  .products__card-body {
    width: 170px;
  }

  .products__card-btn {
    max-width: 170px;
  }
  .products__card-btn::after {
    width: 38%;
  }
}
.work {
  padding: 30px 0;
  background: #fff;
}
.work__wrap {
  margin: 0 auto;
  position: relative;
}
.work__title {
  margin: 30px 0;
  text-align: center;
  font-family: "Cinzel", Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.work__gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  grid-auto-rows: 400px;
  grid-auto-flow: dense;
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px 0;
}
.work__gallery li {
  overflow: hidden;
}
.work__gallery li img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  transform: scale(1.5);
  filter: grayscale(100%);
}
.work__gallery li img:hover {
  filter: none;
  transform: scale(1);
}

@media (max-width: 1024px) {
  .work__block {
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .work__gallery {
    grid-gap: 10px;
  }
}
.location {
  padding: 30px 0;
}
.location__wrap {
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.location__col {
  width: 50%;
  padding: 0 15px;
  text-align: center;
}
.location__info {
  font-size: 18px;
}

@media (max-width: 1024px) {
  .location__col img {
    position: relative;
    right: 10%;
  }
}
@media (max-width: 768px) {
  .location__col img {
    width: 100%;
    height: 50%;
  }

  .location__info {
    padding: 0 30px;
    font-size: 15px !important;
  }
}
.logos {
  padding: 30px 0;
  background: rgba(64, 64, 64, 0.7);
}
.logos__wrap {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.logos__media {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 768px) {
  .logos__media img:nth-child(1) {
    width: 100px;
  }
  .logos__media img:nth-child(3) {
    width: 95px;
  }
  .logos__media img:nth-child(4) {
    width: 90px;
  }
}
.footer {
  padding-top: 30px;
  background: #404040;
}
.footer__wrap {
  margin: 0 auto;
  width: 1000px;
}
.footer__logo {
  z-index: 1;
  line-height: 0;
  text-align: center;
}
.footer__logo-link {
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.footer__socials {
  position: relative;
  width: 100%;
  text-align: center !important;
}
.footer__links {
  display: block;
  padding: 0;
  margin: 20px 0;
  text-align: center;
}
.footer__links li {
  display: inline-block;
  padding: 0 20px;
  transition: all 0.3s;
}
.footer__links li svg {
  color: #fff;
}
.footer__links li svg:hover {
  color: #c8c1b7;
}
.footer__info {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.footer__info li {
  padding: 0 30px;
}
.footer__info h2 {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}
.footer__end {
  margin-top: 20px;
  height: 50px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}
.footer__end p {
  color: #f4f3f1;
  font-size: 12px;
  padding: 17px 0;
}

@media (max-width: 768px) {
  .footer__wrap {
    display: flex;
    flex-direction: column;
    max-width: 750px;
  }
}
#btn_back-to-top {
  position: fixed;
  padding: 5px 20px !important;
  bottom: 30px;
  right: 35px;
  width: 55px !important;
  height: 45px;
  z-index: 999;
  background-color: #f4f3f1;
  display: none;
}
#btn_back-to-top:hover {
  border-color: #f4f3f1 !important;
  background-color: #404040;
}
#btn_back-to-top span {
  color: #404040;
  font-size: 25px;
  font-weight: 700;
}
#btn_back-to-top:hover span {
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
